<div ng-if="error" class="alert alert-danger" role="alert">
  <i class="fa fa-exclamation-triangle"></i>
  {{ error }}
</div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="masterPassword" class="col-sm-3 control-label">Master password</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input id="masterPassword" type="password" class="form-control" ng-model="masterPassword" ng-change="generatePassword()" />
        <div class="input-group-addon">
          <span class="master-password-control-hash">{{controlHash}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group has-feedback">
    <label for="inputText" class="col-sm-3 control-label">Input text</label>
    <div class="col-sm-9">
      <input id="inputText" type="text" class="form-control" ng-model="inputText" ng-change="generatePassword()" />
      <span ng-if="customProfile" class="glyphicon glyphicon-bookmark form-control-feedback"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">Username</label>
    <div class="col-sm-9">
      <input id="username" type="text" class="form-control" ng-model="username" ng-change="generatePassword()" />
    </div>
  </div>
  <div class="form-group">
    <label for="generatedPassword" class="col-sm-3 control-label">Generated password</label>
    <div class="col-sm-9">
      <input id="generatedPassword" type="text" class="form-control" ng-model="generatedPassword" readonly />
    </div>
  </div>
</form>
<div class="bs-callout bs-callout-info" id="callout-helper-bg-specificity">
  <h4>
    <i class="fa fa-question pull-left"></i>
    How was this password generated
  </h4>
  <p>
    <ul>
      <li>list profiles hierarchy (main, exception)</li>
      <li>hash( XXXXX{{ inputText }}{{ username }} )</li>
      <li>substring( 0, password length )</li>
      <li>specific constraint operation 1</li>
      <li>specific constraint operation 2</li>
      <li>...</li>
    </ul>
  </p>
</div>

