<form class="form-horizontal" role="form">

  <div class="form-group">
    <label for="masterPassword" class="col-sm-3 control-label">Master password</label>
    <div class="col-sm-9">
      <input id="masterPassword" type="password" class="form-control" ng-model="masterPassword" ng-change="generatePassword()" />
    </div>
  </div>
  <div class="form-group">
    <label for="hashAlgorithm" class="col-sm-3 control-label">Hash algorithm</label>
    <div class="col-sm-9">
      <select id="hashAlgorithm" class="form-control" ng-model="hashAlgorithm" ng-change="generatePassword()">
        <option value="md5">MD5</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputText" class="col-sm-3 control-label">Using text</label>
    <div class="col-sm-9">
      <input id="inputText" type="text" class="form-control" ng-model="inputText" ng-change="generatePassword()" />
    </div>
  </div>
  <div class="form-group">
    <label for="passwordLength" class="col-sm-3 control-label">Length of generated password</label>
    <div class="col-sm-9">
      <input id="passwordLength" type="text" class="form-control" ng-model="passwordLength" ng-change="generatePassword()" />
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">Username</label>
    <div class="col-sm-9">
      <input id="username" type="text" class="form-control" ng-model="username" ng-change="generatePassword()" />
    </div>
  </div>
  <div class="form-group">
    <label for="modifier" class="col-sm-3 control-label">Modifier</label>
    <div class="col-sm-9">
      <input id="modifier" type="text" class="form-control" ng-model="modifier" ng-change="generatePassword()" />
    </div>
  </div>
  <div class="form-group">
    <label for="characters" class="col-sm-3 control-label">
      Characters
      <span class="glyphicon glyphicon-question-sign" tooltip-placement="right" tooltip="The characters field contains the list of characters used in generating this password"></span>
    </label>
    <div class="col-sm-9">
      <select id="characters" class="form-control" ng-model="characters" ng-change="generatePassword()">
        <option>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789`~!@#$%^&amp;*()_-+={}|[]\:";'&lt;&gt;?,./</option>
        <option>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789</option>
        <option>0123456789abcdef</option>
        <option>0123456789</option>
        <option>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz</option>
        <option>`~!@#$%^&amp;*()_-+={}|[]\:";'&lt;&gt;?,./</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="generatedPassword" class="col-sm-3 control-label">Generated password</label>
    <div class="col-sm-9">
      <input id="generatedPassword" type="text" class="form-control" ng-model="generatedPassword" disabled />
    </div>
  </div>
</form>
