<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="masterPassword" class="col-sm-3 control-label">Master password</label>
    <div class="col-sm-9">
      <input id="masterPassword" type="password" class="form-control" ng-model="masterPassword" ng-change="generatePassword()" />
    </div>
  </div>
  <div class="form-group has-feedback">
    <label for="inputText" class="col-sm-3 control-label">Input text</label>
    <div class="col-sm-9">
      <input id="inputText" type="text" class="form-control" ng-model="inputText" ng-change="generatePassword()" />
      <span ng-if="customProfile" class="glyphicon glyphicon-bookmark form-control-feedback"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">Username</label>
    <div class="col-sm-9">
      <input id="username" type="text" class="form-control" ng-model="username" ng-change="generatePassword()" />
    </div>
  </div>
  <div class="form-group">
    <label for="generatedPassword" class="col-sm-3 control-label">Generated password</label>
    <div class="col-sm-9">
      <input id="generatedPassword" type="text" class="form-control" ng-model="generatedPassword" disabled />
    </div>
  </div>
</form>
