<form name="configuration" class="form-horizontal" role="form" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">Defaults</div>
    <div class="panel-body">
      <div class="form-group" ng-class="{'has-error': configuration.hashAlgorithm.$invalid}">
        <label for="hashAlgorithm" class="col-sm-3 control-label">Hash algorithm</label>
        <div class="col-sm-9">
          <select name="hashAlgorithm" class="form-control" ng-model="profile.hashAlgorithm" ng-options="algorithm for algorithm in hashAlgorithms"
              required>
          </select>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': configuration.passwordLength.$invalid}">
        <label for="passwordLength" class="col-sm-3 control-label">Password length</label>
        <div class="col-sm-9">
          <input name="passwordLength" type="number" class="form-control" ng-model="profile.passwordLength"
              required integer min="1" ng-minlength="1" ng-pattern="/^[0-9]+$/" />
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': configuration.characters.$invalid}">
        <label for="characters" class="col-sm-3 control-label">Characters</label>
        <div class="col-sm-9">
          <input name="characters" type="text" class="form-control" ng-model="profile.characters"
              required ng-minlength="2" />
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Exceptions</div>
    <div class="panel-body">
      <div class="bs-callout bs-callout-info" id="callout-helper-bg-specificity">
        <h4>
          <i class="fa fa-info pull-left"></i>
          Dealing with specificity
        </h4>
        <p>
          Sometimes, in the best case, web sites password policy are more strict than your default configuration, or in the worst case the password generated isn't accepted by the service provider security policy. For these cases, you wan override the main configuration:
          <ul>
            <li>password length</li>
            <li>add a <em>modifier</em> to alter the generated password</li>
            <li>change the caracter set used to generate the password</li>
          </ul>
        </p>
      </div>
      </p>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="exception in profile.exceptions">
        <div class="form-group">
          <label for="exception-{{ $index }}" class="col-sm-3 control-label">Input text patterns</label>
          <div class="col-sm-9">
            <div class="input-group">
              <tags-input id="exception-{{ $index }}" ng-model="exception.patterns" placeholder="*.google.com" add-on-blur="false" allow-leftover-text="false" replace-spaces-with-dashes="false"></tags-input>
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="removeException($index)">Remove</button>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordLength-{{ $index }}" class="col-sm-3 control-label">Password length</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" ng-model="exception.passwordLength.override">
              </span>
              <input id="passwordLength-{{ $index }}" type="number" class="form-control" ng-model="exception.passwordLength.value" ng-disabled="!exception.passwordLength.override" ng-pattern="/\d+/" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="modifier-{{ $index }}" class="col-sm-3 control-label">Modifier</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" ng-model="exception.modifier.override">
              </span>
              <input id="modifier-{{ $index }}" type="text" class="form-control" ng-model="exception.modifier.value" ng-disabled="!exception.modifier.override" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="constraints-{{ $index }}" class="col-sm-3 control-label">Constraints</label>
          <div class="col-sm-9">
            <tags-input id="constraints-{{ $index }}" ng-model="exception.constraints" placeholder="1 uppercase letter" add-on-blur="false" allow-leftover-text="false" replace-spaces-with-dashes="false">
              <auto-complete source="suggestConstraints($query)" min-length="1" load-on-down-arrow="true" load-on-focus="true"></auto-complete>
            </tags-input>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="pull-right">
          <button class="btn btn-success" ng-click="addException()"><i class="fa fa-plus-circle"></i> Add exception</button>
        </div>
        <span class="clearfix"></span>
      </li>
    </ul>
  </div>
  <div class="pull-right">
    <button class="btn btn-default" ng-click="restoreConfiguration()">Restore</button>
    <button class="btn btn-default" ng-click="showConfiguration()">Show</button>
    <button class="btn btn-primary" ng-click="saveConfiguration()" ng-disabled="configuration.$invalid"><i class="fa fa-floppy-o"></i> Save</button>
  </div>
</form>
